[2018-10-20 07:18] hsluoyz opened #1 "Many links in README.md turn out to be not found (404)"
Nearly all the hyperlinks in following sections are down:

https://github.com/php-casbin/php-casbin#policy-management
https://github.com/php-casbin/php-casbin#role-manager
https://github.com/php-casbin/php-casbin#examples

[2018-11-04 15:08] #1 closed

[2019-01-14 08:45] shiftwinting opened #10 "用户数比较大的话，验证会不会存在性能问题？"
用户数比较大的话，验证会不会存在性能问题？

[2019-01-14 13:09] techoner commented on #10
Please use English in issues.

[2019-01-14 13:22] techoner commented on #10
Performance depends on the language itself.
Load the policy by user, cache by custom adapter, or load policy from redis.
It can also be run in `swoole` to improve performance.
You can even choose `Casbin` (golang) or `JCasbin` (java)

[2019-01-14 13:52] shiftwinting commented on #10
thks.

[2019-01-14 13:52] #10 closed

[2019-01-23 03:20] videni opened #11 "what does `g(r.sub, p.sub, r.dom)` mean?"
I look through all documents, no details about  `g(r.sub, p.sub, r.dom)`.

[code]

[2019-01-23 03:57] techoner commented on #11
model:
[code]
policy:
[code]
then, Refer to the test case and you will quickly understand：
[code]
https://github.com/php-casbin/php-casbin/blob/master/tests/EnforcerTest.php#L121

[2019-01-23 05:37] videni commented on #11
@techoner , @hsluoyz , I see, thank you all.

[2019-01-23 05:37] #11 closed

[2019-01-24 07:04] evarainy opened #12 "Path error in the example code"
Hi, in the example, the following code:

[code]

actually should be:

[code]

Is this backslash: `\` wrong here?

[2019-01-24 12:10] techoner commented on #12
The sample code is error free, please refer to http://php.net/manual/en/language.namespaces.rationale.php

[2019-01-25 10:02] evarainy commented on #12
那可能是我环境问题，我改成"/"后才能正常运行。谢谢！

[2019-01-25 10:02] #12 closed

[2019-01-25 13:38] hsluoyz commented on #12
@evarainy official PHP uses backslash: ``\``. I don't know what your PHP environment is, but you should probably use a qualified PHP IDE like ``PhpStorm``, which will parse your code correctly.

[2019-02-22 02:27] techoner opened #13 "TypeError: Argument 1 passed to Casbin\Util\BuiltinOperations::generateGFunction() must implement interface Casbin\Rbac\RoleManager, null given"
When using the rbac model, the policy table has an error when there is no role.

[2019-02-22 02:30] #13 closed

[2019-02-23 12:51] duanpier opened #15 "If there is a "." in the matchers, you will get the wrong result."
If there is a "." in the matchers, you will get the wrong result.

[code]

[2019-02-23 13:26] hsluoyz commented on #15
@techoner

[2019-02-23 15:06] #15 closed

[2019-02-28 15:18] techoner opened #18 "An error occurred while using removeFilteredPolicy：Array to string conversion"

[2019-03-01 04:56] #18 closed

[2019-04-02 07:01] pockemon opened #19 "Installation issue"
I am trying to download the packages by running the following command:
``` composer require casbin/casbin ```
but i got following while running it:
[code]

Can anyone let me know what is the problem?

[2019-04-02 09:31] techoner commented on #19
I suggest you learn the usage of composer first.

[2019-04-02 09:33] techoner commented on #19
You can create an empty directory first and execute it in this empty directory:
[code]

[2019-04-02 09:42] pockemon commented on #19
Okay

[2019-04-04 01:51] pockemon commented on #19
Still getting the same error message,after creating an empty directory and executing the command in that empty directory.

[2019-04-04 04:42] techoner commented on #19
[code]

[2019-04-04 12:03] pockemon commented on #19
Okay,Done.
Thank you

[2019-04-04 12:03] #19 closed

[2019-04-05 08:45] pockemon opened #20 "How to add user while using RBAC policy?"
Hi,
I've gone through the documentation page of casbin.[How to create rbac_model.conf and
rbac_policy.csv]
Now suppose i've one page called  ``` index.php ``` in my website, so what i want to do is only student with certain user-id[email-id] can only access that page[or can do any action(read or write) on that page].
So i can enforce the rbac policy in the index.php file with following code:
[code

[2019-04-05 12:50] techoner commented on #20
Do you want to store the Policy in the database?
Database adapter for PHP-Casbin：https://github.com/php-casbin/database-adapter
Supported php framework：
- [Laravel](https://laravel.com/): The PHP framework for web artisans, via plugin: [laravel-casbin](https://github.com/php-casbin/laravel-casbin)
- [Yii PHP Framework](https://www.yiiframework.com/): A fast, secure, and efficient PHP framework, vi

[2019-04-06 09:55] #20 closed

[2019-06-29 17:02] killua-eu opened #23 "ABAC with php-casbin"
I read through the casbin main project information on abac but don't really understand how to work with abac. Lets say I have this data:

[code]

and that I want to

- deny users from reading unpublished articles,
- but allow users with role 'reviewer' to read them.

How would I note that? Like this?

[code]

How would I pass the article.state to the enforce function?

[2019-06-30 02:52] techoner commented on #23
Can be converted to rbac for easy understanding.

[2019-06-30 03:35] hsluoyz commented on #23
Hi @killua-eu , the ABAC logic like ``deny users from reading unpublished articles,`` can be implemented in the matcher. Your model can be:

[code]

The matcher means that either the request user has role ``role::reviewer`` or the object's ``state`` attribute is "published", and the action is "read", then allow the access.

There will only be ``g`` rules in the policy, no ``p`` rules are needed.

[2019-07-10 00:42] hsluoyz commented on #23
Closed as resolved.

[2019-07-10 00:42] #23 closed

[2019-09-21 01:27] benjamingb opened #26 "Unable to get a property on a non-object"
I am trying to implement the casbin but I have a 500 error.
Just throw me a simple message, and there is no way to know what causes

[code]
Message Error
[code]

[2019-09-21 02:44] techoner commented on #26
Use `try{ } catch(\Exception $e){ }` to catch errors

[2019-09-23 16:28] benjamingb commented on #26
I've already discovered the mistake.
When I use the ABAC model, it shows me that error.

[code]
But when I use the RBAC model, it works properly.

[code]
I want to work with ABAC, how do I configure the model to be ABAC?

[2019-09-24 01:00] techoner commented on #26
@benjamingb Refer to [ABAC with Casbin](https://github.com/php-casbin/casbin-tutorials/blob/master/tutorials/ABAC-with-Casbin.md).

[2019-10-06 07:58] killua-eu opened #28 "Upgrading a casbin model"
Hi,

is there a recommended way to upgrade models? Let's say we want to change from RBAC to RBAC with domains, also with an updated matcher. Obviously we have to update the conf file and assign domains to existing permissions.

Thanks, in advance

[2019-10-06 09:33] techoner commented on #28
You can add a default `domain` to an existing policy in the adapter's `loadPolicy()`.

[2019-11-07 00:02] #26 closed

[2019-11-07 00:03] #28 closed

[2020-03-23 13:39] techoner opened #36 "We need to implement EnforceWithMatcher()"
Refer to casbin(go).

[2020-03-23 13:50] techoner opened #37 "Improve Management API"
GetAll() now gets results across all ptypes ([#301](https://github.com/casbin/casbin/pull/301))

[2020-03-23 13:51] techoner opened #38 "Add keyMatch4()"
Refer to: https://casbin.org/docs/en/function

[2020-03-23 13:58] techoner opened #39 "Implement AddMatchingFunc for RoleManager"
Refer to: https://github.com/casbin/casbin/blob/master/rbac/default-role-manager/role_manager.go#L50

[2020-03-23 15:29] romitkarmakar opened #40 "Use C++ to build php-casbin"
@techoner can we use our casbin-cpp project to build the casbin PHP extension. I think it will greatly increase our performance. The cpp-casbin builds into dll file for windows and php also use dll file in windows for extension, so I will with very few modification we can achieve this migration. We can use [PHP-CPP](http://www.php-cpp.com/) for this task.

[2020-03-23 15:40] techoner commented on #40
Good idea!
But currently casbin-cpp has just begun.

[2020-03-24 03:16] techoner opened #41 "Add batch operations: AddPolicies() and RemovePolicies() to Management API"
Refer to: [Add batch operations: AddPolicies() and RemovePolicies() to Management API](https://github.com/casbin/casbin/pull/388)

[2020-05-11 09:42] surest-sky opened #43 "在laravel 7.10版本中"
`Call to undefined method stdClass::buildRoleLinks()`

[code]

还有一个问题，看文档的话，好像没有告知如何将 policy 持久化到 mysql中，如何建表呢

[2020-05-12 05:08] techoner commented on #43
@surest-sky Please use english.

[2020-05-14 02:15] hsluoyz commented on #43
@surest-sky Any update?

[2020-05-24 16:15] BerSiang commented on #43
He want to ask that "how to persist policy in database like mysql". He doesn't see how to do that in docs.

I think you can read the docs about database adapter section.
[https://casbin.org/docs/en/adapters](https://casbin.org/docs/en/adapters)
If you want to use it in laravel way, you can refer to the source code about [php-casbin/laravel-authz](https://github.com/php-casbin/laravel-authz) ([src/

[2020-05-24 16:43] BerSiang commented on #43
He want to ask that "how to persist policy in database like mysql, and what is the table schema". He doesn't see this part in docs clearly.

I think you need [php-casbin/dbal-adapter](https://github.com/php-casbin/dbal-adapter).
This adapter will initTable() to create table if table not exist, or you can implement your version by implement  Casbin\Persist\Adapter interface and create laravel db mi

[2020-05-25 08:10] techoner commented on #38
Fixed: [Add keyMatch4()](https://github.com/php-casbin/php-casbin/commit/c3781e0ae42379c5380230a13a641fa999b28aa2).

[2020-05-25 08:10] #38 closed

[2020-05-26 06:04] #43 closed

[2020-06-10 04:35] rus-ik opened #44 "Can you please catch up to the latest casbin version"
As soon as there are many inspiring changes starting from casbin v.2.3..

[2020-06-10 06:08] hsluoyz commented on #44
@rus-ik we don't have enough developers to sync all Golang Casbin features to PHP right now. Can you specify a feature or two that you need most?

[2020-06-10 06:35] rus-ik commented on #44
I need to have the new ABAC's eval() feature in php-casbin

[2020-06-10 06:37] hsluoyz commented on #44
@techoner @nodece @GopherJ @xhy-5000 can anyone take this issue?

[2020-06-10 07:52] techoner commented on #44
If I have time, I will add this feature .

[2020-06-17 06:37] zhengwhizz commented on #41
我也需要这样的批量操作。。。
坐等。

[2020-06-17 07:01] hsluoyz commented on #41
@zhengwhizz please modify your words into English.

[2020-07-05 15:35] #37 closed

[2020-07-06 00:19] hsluoyz commented on #37
Fixed in: https://github.com/php-casbin/php-casbin/pull/46

[2020-07-10 05:37] #36 closed

[2020-07-18 04:37] #39 closed

[2020-07-18 04:39] #41 closed

[2020-07-18 04:48] #44 closed

[2020-07-26 01:30] hsluoyz commented on #44
@rus-ik the `eval()` feature has been added: https://github.com/php-casbin/php-casbin/pull/49

[2020-07-26 01:32] hsluoyz commented on #41
@zhengwhizz it has been added: https://github.com/php-casbin/php-casbin/pull/47

[2020-08-18 22:03] clement-95 opened #51 "New 2.3.0 release ?"
Hi,

In the issue #44  you added the support of the scaling ABAC model with the `eval()` function (which is awesome btw) but it is not included in the latest release 2.2.0 since it got merged after. So I switched from `2.2.0` to `dev-master` in my project to be able to use that model but it'd be safer to have a release including it.

No rush, but what's your strategy to create a new release / when

[2020-08-20 12:34] hsluoyz commented on #51
@techoner @yk17310320725 can we make a new release?

[2020-08-26 10:51] techoner commented on #51
New release: https://github.com/php-casbin/php-casbin/releases/tag/v2.3.0

[2020-08-26 10:51] #51 closed

[2020-08-26 11:22] hsluoyz opened #52 "Use semantic-release to release new versions automatically"
Sometimes, users need to wait for a few days to see a new release (https://github.com/php-casbin/php-casbin/issues/51). Our members and maintainers also need to take efforts to make a release manually.

[2020-08-26 11:23] hsluoyz commented on #52
@yk17310320725 can you do it?

/cc @techoner

[2020-09-05 20:46] otaigbe opened #53 ""grouping policy elements do not meet role definition" cannot create roles with domains php-casbin"
My model definition is this

[code]

The standard domain tenant rbac model definition but trying to create or even load the casbin fails with this error
"grouping policy elements do not meet role definition" but if the role params are two it loads but does not register my domains

[2020-09-06 00:48] hsluoyz commented on #53
@techoner @yk17310320725 please take a look about this issue.

[2020-09-06 08:26] #53 closed

[2020-09-07 01:55] hsluoyz commented on #53
Why is closed?

[2020-09-11 07:04] pigochu opened #54 "rbac_with_domain_pattern_model can not work with domain *"
Hi
I am trying examples/rbac_with_domain_pattern_model.conf
I load rbac_with_domain_pattern_policy.csv

I use latest version(2.3.0)

My code

[code]
it dump false
When I change $sub = "bob" , $dom t="domain2" , $obj="data2" , it dump true.
Why alice no perssion ?  does this version support wildcard(*)  ?

[2020-09-11 11:22] hsluoyz commented on #54
Hi @pigochu , can you try your model and policy in online editor: https://casbin.org/en/editor to see if it works as expected?

[2020-09-11 14:31] pigochu commented on #54
@hsluoyz
I went to editor to play once and the result was the same
I'm not sure my understanding of wildcard(*) is correct
I am still a newbie .

[2020-09-11 14:33] hsluoyz commented on #54
@pigochu please paste all your model, policy, request and result.

[2020-09-11 14:37] pigochu commented on #54
@hsluoyz
I use php-casbin original examples file
examples/rbac_with_domain_pattern_model.conf
examples/rbac_with_domain_pattern_policy.csv

![image](https://user-images.githubusercontent.com/1013744/92938611-573f1f80-f47f-11ea-9c42-50caafd165a9.png)

[2020-09-11 14:41] hsluoyz commented on #54
So you want to use * as 3rd arg in g as docs said: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac.

@techoner @yk17310320725 has PHP-Casbin supported this feature?

[2020-09-11 15:58] pigochu commented on #54
@hsluoyz

I try to use addDomainMatchingFunc .. its work

[code]
result
[code]

[2020-09-11 16:00] hsluoyz commented on #54
@pigochu great! Please close this issue if resolved.

[2020-09-11 16:05] pigochu commented on #54
@hsluoyz
Ok
But I suggest that some explanation may be added because it took me a long time to find
addDomainMatchingFunc and \Casbin\Util\BuiltinOperations

[2020-09-11 16:05] #54 closed

[2020-09-12 00:36] hsluoyz commented on #54
@yk17310320725 please add this to official docs

/cc @techoner @nodece

[2020-09-13 05:55] pigochu opened #55 "dose it support sub domain wildcard (*) ?"
If I have 5 domains.
I want  define to :

- domain/1 : This domain has child domain 2 and 3.
- domain/1/2
- domain/1/3
- domain/4 : This domain has child domain 5
- domain/4/5

I want  domain/1 admin has full access permision , also has full acess permission on domain/1/* , domain/4 admin has full access on domain/4/*.

so policy maybe

[code]
alice has full access permission on domain/1/2 and dom

[2020-09-14 00:39] hsluoyz commented on #55
@pigochu yes, see: https://casbin.org/docs/en/rbac , search: `AddDomainMatchingFunc`

[2020-09-14 01:06] pigochu commented on #55
@hsluoyz
Thank You , It can work in my php script .
But can not work in casbin-editor , Is there any doc about how to use Key2Match on domain ?

![image](https://user-images.githubusercontent.com/1013744/93033589-726d8300-f669-11ea-8cba-0a1ad554fd84.png)

[2020-09-14 01:12] hsluoyz commented on #55
@nodece @zhmushan can we support domain pattern in casbin-editor?

[2020-09-14 01:12] #55 closed

[2020-09-14 06:21] pigochu opened #56 "Is there an example of FilteredAdapter or implement document ?"
I am trying yii-permission , and post an issue.

https://github.com/php-casbin/yii-permission/issues/6

Becasue every request will query all data from casbin_rule, If i have many domain and user  , the result will be very large.

I think FilteredAdapter may fix the problem , but I can not find any example for php version.
Anyone who has implemented it for mysql( or any database ) ? please provide

[2020-09-15 04:33] yk17310320725 commented on #52
Yes, I can do it.

[2020-09-15 11:01] hsluoyz commented on #55
@pigochu please use subset loading: https://casbin.org/docs/en/policy-subset-loading

[2020-09-15 11:49] nodece commented on #55
@hsluoyz we are going to support domain patter in node-casbin as soon.

[2020-09-24 05:44] andbabkin opened #57 "An $expression variable is initialized with wrong type which results in fatal error"
https://github.com/php-casbin/php-casbin/blob/8d6d87011f2c024af409d71534197c50c9767491/src/Enforcer.php#L556
A variable $expression is initialized as `ExpressionLanguage`, and then used as function argument where `Expression` is required. In most cases it is redefined by value returned from `$expressionLanguage->parse(...)` method, but in one case it is used unchanged:
https://github.com/php-casbi

[2020-09-24 13:44] hsluoyz commented on #57
@yk17310320725

/cc @techoner

[2020-09-25 08:35] techoner commented on #57
This bug was caused after this PR[#49 ]

[2020-09-25 13:09] hsluoyz commented on #57
@yk17310320725 please fix.

[2020-09-25 14:18] yk17310320725 commented on #57
Most of the time using PHP-Casbin will not use `eval()`, so `$expression` will be redefined:

https://github.com/php-casbin/php-casbin/blob/8d6d87011f2c024af409d71534197c50c9767491/src/Enforcer.php#L561

But using `eval()` will redefine it from :

https://github.com/php-casbin/php-casbin/blob/8d6d87011f2c024af409d71534197c50c9767491/src/Enforcer.php#L589

I don't know why you have such an error, c

[2020-09-26 07:54] andbabkin commented on #57
I have got this error when have forgotten to run database seeder which loads policies and groups to the table. When policies are loaded it works fine.
I wasn't sure that this is only case when broken part of the code is executed, so I gave you to know about that.

The model used:
[code]

[2020-09-30 13:59] yk17310320725 commented on #57
I fix this bug, When you do not load policies again, is will throw an EvalFunctionException, and tell your "please make sure rule exists in policy when using eval() in matcher". @andbabkin

[2020-10-12 14:47] #57 closed

[2020-10-12 15:09] techoner commented on #56
You can use an adapter that implements `FilteredAdapter`,  but the official has not yet provided such an adapter

[2020-10-13 00:18] hsluoyz commented on #56
@yk17310320725

[2020-11-17 12:07] killua-eu opened #59 "Adding a g2 policy"
Hi, I'm implementing RBAC with domains/tenants and resource roles like this

[code]

To test things out, I did a simple

[code]

An warning is raised on `$m->addPolicy('g2', 'g2', $rule);` (Creating default object from empty value). I don't see what I'm missing. Any tips please?

[2020-11-17 12:16] hsluoyz commented on #59
@techoner

[2020-11-19 13:45] killua-eu commented on #59
Ha, it seems that role definitions are the 'g' section, so it should be `$m->addPolicy('g', 'g2', $rule);`, not `$m->addPolicy('g2', 'g2', $rule);`. By changing the section it seems i have the has/addPolicy working as expected. Can anyone verify I got it right please? Thanks, P.

[2020-11-19 23:13] killua-eu opened #60 "Storing comments with policies"
As the authorization gets more complex, it would be nice to add comments/description to i.e. roles. Would it be possible to have  `$m->addPolicy('g', 'g', $rule, 'this role has a comment');` ? Thanks!

[2020-11-20 13:10] hsluoyz commented on #59
@killua-eu you are right, see: https://casbin.org/docs/en/rbac

[2020-11-20 13:10] #59 closed

[2020-11-21 13:57] hsluoyz commented on #60
@killua-eu how to save this comment value in CSV/DB?

[2020-11-22 11:40] killua-eu commented on #60
I prefer using a db driver for most projects, but the question applies to both csv and db .. I'm not sure if this is possible with the current table structure? If not, I'd suggest just adding another column.

[2020-11-22 13:07] hsluoyz commented on #60
@techoner I think we can support it by adding another comment column in g rules, but not using it in enforcement.

[2020-11-25 21:09] killua-eu opened #61 "Int type results in multiple entries"
Lets assume this code:

[code]
If `$rule = [ '0', '1' ];`, everything works as expected, but if `$rule = [ 0, 1 ];`, the `$m->hasPolicy` always evaluates to false. I'm not sure, why php doesn't throw an exception, because https://github.com/php-casbin/php-casbin/blob/ecc5eb20ab6669045b892247b080853483d7a17d/src/Model/Policy.php#L120 requires `string` and should fail on an `int` due to `declare(str

[2020-11-25 21:12] killua-eu commented on #61
Aah sorry, my bad, the $rule is passed as `array`, thats why php won't fail. Since members of `$rule` should be `string` only, i suggest type checking (or type casting) to be added to the code.

[2020-11-26 00:59] hsluoyz commented on #61
@techoner

[2020-11-28 21:21] killua-eu opened #62 "RBAC with domains: functions return wrong results"
Using the model

[code]

I defined roles, domain relationships and users:

[code]

i tried to work with some of the functions, but for example,

`$e->getRolesForUser('2');` returns an empty array where `[ 'usage' ]` would be expected, or `$e->getFilteredPolicy(2, '/ui/stor');` returns an array with 25 same items. Basically most of the functions don't behave as expected. Any idea why?

[2020-11-29 11:27] hsluoyz commented on #62
@techoner

[2020-12-01 21:18] killua-eu opened #63 "Getting all domains that user is in"
With the model
[code]

I'd like to get a function getDomains('user1', '/a/object/*', 'read') that

- finds the roles attached to `user1`
- returns domains, where the role/user has read access to an object

Thanks in advance

[2020-12-06 02:13] hsluoyz commented on #63
@abichinger

/cc @techoner

[2020-12-06 20:13] abichinger commented on #63
@killua-eu If you know all domains, you could just iterate over them and try to access the object.
[code]

[2020-12-08 14:03] hsluoyz commented on #62
@abichinger

/cc @techoner

[2020-12-08 15:49] techoner commented on #62
@killua-eu The subject(sub=2)  does not exist when you try to use `$e->getRolesForUser('2')`;
You can use `getAllSubjects()` to get all sub.

[2020-12-08 16:02] techoner commented on #63
[code]
You can gets all the role inheritance rules in the policy, field filters can be specified. Then use `array_filter()` to filter.

[2020-12-18 10:48] hsluoyz commented on #62
@killua-eu

User 2 only has role: "usage" under domain 2:

[code]
You should call `$e->getRolesForUserInDomain('2', '0')` instead.

[2020-12-18 10:48] #62 closed

[2020-12-19 14:56] hsluoyz commented on #60
@killua-eu after looking at the code, I found actually you can append a comment string to $rule. It can be saved/loaded through adapters I think.

[2020-12-19 14:56] hsluoyz commented on #63
Closed as resolved.

[2020-12-19 14:56] #63 closed

[2020-12-19 14:58] hsluoyz commented on #61
Resolved.

[2020-12-19 14:58] #61 closed

[2020-12-19 16:35] techoner commented on #56
@pigochu pigochuNow in the latest version, we have provided the `FilteredAdapter` interface, and have built-in `FileFilteredAdapter`.

[2020-12-19 16:40] techoner commented on #40
@romitkarmakar Now we have a C++ extension（[C/C++ extension for PHP](https://github.com/php-casbin/casbin)）, it is based on [Casbin-CPP](https://github.com/casbin/casbin-cpp), if you are interested, you can try it.

[2020-12-20 01:43] #40 closed

[2020-12-20 01:46] hsluoyz commented on #40
@techoner can we add it as a breaking news to README: https://github.com/php-casbin/php-casbin#php-casbin ?

[2020-12-20 01:48] hsluoyz commented on #56
@pigochu See:

https://github.com/php-casbin/php-casbin/blob/master/src/Persist/FilteredAdapter.php
https://github.com/php-casbin/php-casbin/blob/master/src/Persist/Adapters/FileFilteredAdapter.php

[2020-12-20 02:16] pigochu commented on #56
I know there is FilterAdapter originally, I just want to find if anyone implements for database.

[2020-12-20 03:43] hsluoyz commented on #56
@pigochu which DB adapter do you use? So we can add the feature to that first.

[2020-12-20 03:48] pigochu commented on #56
@hsluoyz
Thank you
I use yii2 activerecord and mysql , I think `php-casbin/database-adapter ` could implement it for all sql databases.

[2020-12-20 04:01] hsluoyz commented on #56
@pigochu can you send an issue to: https://github.com/php-casbin/database-adapter to ask for the `FilteredAdapter` feature, so we can better track the progress?

[2020-12-20 04:04] pigochu commented on #56
Thanks
I just added the issue..
https://github.com/php-casbin/database-adapter/issues/4

[2020-12-20 04:18] hsluoyz commented on #56
Thanks. Closed here.

[2020-12-20 04:18] #56 closed

[2020-12-20 08:15] hsluoyz commented on #61
@killua-eu I'm afraid currently there's no way to do static type checking in PHP.

[2020-12-22 10:51] hsluoyz commented on #60
Closed as resolved.

[2020-12-22 10:51] #60 closed

[2020-12-24 04:40] techoner opened #64 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-12-24 05:01] techoner commented on #64
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-12-24 07:09] #52 closed

[2020-12-24 07:11] techoner commented on #52
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/php-casbin/php-casbin/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-24 07:11] #64 closed

[2020-12-24 07:17] hsluoyz commented on #52
@techoner it's really great that we have semantic-release now!

[2021-01-13 09:34] zhhzone opened #65 "getImplicitUsersForPermission 应该是有bug"
我是根据注释 理解的这个方法的作用
`
    public function getImplicitUsersForPermission(string ...$permission): array
    {
        $subjects = $this->getAllSubjects();
        $roles = $this->getAllRoles();   // 返回值 只是 所有的  role value  并没有包含 name
        $users = array_diff($subjects, $roles); //array_diff  只返回 第一数组 与 第二个 数组的差集, 不包含第二个数据的

        //$roles = array_reduce($this->getGroupingPolicy(), 'array_merge',

[2021-01-13 10:09] hsluoyz commented on #65
@zhhzone can you change it to English?

[2021-01-14 09:22] techoner commented on #65
@zhhzone Can you fix it ? Refer to: [Fix GetImplicitUsersForPermission](https://github.com/casbin/casbin/pull/443)

[2021-01-19 14:54] axlthe1 opened #67 "problem with configuration"
Hi guys,

I'm struggling with brand new project using Casbin(it's my first time :) ), I've set up the editor online with this configuration for models:

[code]

and this is my policy file :

the tests that I've made are these :

[code]
under custom config :

[code]
what we want is the possibility to set authorization for multiple domains in one row (actually we use the '*' character  to specify mu

[2021-01-19 15:33] hsluoyz commented on #67
@techoner

[2021-01-19 16:06] axlthe1 commented on #67
Actually I've solved our problem.

we found some magic inside the AdapterHelper at line 30 :
[code]
the space used as separator prevents the policy to be read, after that I've configured the matching function with this code :

[code]

thanks anyway, I hope this helps someone else

my first problem solved on github 🥇 👍

[2021-01-19 16:06] #67 closed

[2021-02-14 19:27] killua-eu commented on #62
@hsluoyz , thanks lots!

[2021-02-14 20:45] killua-eu commented on #61
Hi @hsluoyz , I was thinking to add to https://github.com/php-casbin/php-casbin/blob/ecc5eb20ab6669045b892247b080853483d7a17d/src/Model/Policy.php#L120 something like

[code]

[2021-02-15 00:59] hsluoyz commented on #61
I think this affects performance a lot. @techoner what do you think?

[2021-02-15 07:42] killua-eu commented on #61
Yep, performance might be a problem. I didn't do any measurements though. There might be multiple places where a strict type handling might be beneficial. If you think the performance hit is too much, maybe documenting this would be an alternative or type casting might work too. If unhandled/unknown, it just results into weird behavior.

[2021-02-15 13:31] hsluoyz commented on #61
@killua-eu can you make a PR to this repo's README to provide some docs?

[2021-02-15 15:17] killua-eu commented on #61
Sure, will do.

[2021-03-08 07:01] zfjhui opened #69 "hasPermissionForUser"
<img width="527" alt="image" src="https://user-images.githubusercontent.com/40257170/110285846-d40e1900-801e-11eb-8ef6-0bd4fd6259cc.png">
Enforcer::hasPermissionForUser('1', 'project', 'add')     返回的是   false 操作不对吗

[2021-03-08 07:19] hsluoyz commented on #69
@zfjhui if you want to `get`, use: https://casbin.org/docs/en/rbac-api#getimplicitpermissionsforuser

If you want to `has`, use: https://casbin.org/docs/en/management-api#enforce

[2021-03-08 07:19] #69 closed

[2021-03-16 10:59] techoner commented on #65
:tada: This issue has been resolved in version 3.1.1 :tada:

The release is available on [GitHub release](https://github.com/php-casbin/php-casbin/releases/tag/v3.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-30 02:22] nsnake opened #70 "need enforceEx function"
php-casbin had enforce, could add enforceEx function ?

https://casbin.org/docs/en/management-api#enforceex

[2021-03-30 03:14] hsluoyz commented on #70
@basakest

[2021-03-30 14:55] nisnym commented on #70
Can I start this issue or I need to be assigned?

[2021-03-30 14:56] hsluoyz commented on #70
@nisnym please go ahead. Anyone can work on the issues without assignment. We only view code quality.

[2021-04-02 06:45] priyashpatil opened #71 "Broken Links"
Links are broken under Policy management section of readme file

[2021-04-02 10:22] techoner commented on #71
It has been fixed .

[2021-04-02 10:22] #71 closed

[2021-04-02 11:30] hsluoyz commented on #71
@priyashpatil fixed by: https://github.com/php-casbin/php-casbin/commit/16462f906403ae156d2d06b6e2e1dbc2bf963620

[2021-04-11 06:00] hsluoyz commented on #70
@basakest

[2021-04-12 08:54] techoner opened #73 "[Feature] Add buildIncrementalRoleLinks()"

[2021-04-12 08:56] leeqvip opened #74 "[Feature] Implement DistributedEnforcer"

[2021-04-12 08:59] techoner commented on #73
@basakest

[2021-04-12 08:59] techoner commented on #74
@basakest

[2021-04-12 17:51] igybb opened #75 "AddNamedPolicies() not add authorization rules to the current named policy"
I have rules in array, E.g.:
`$rules = [ ["editor", "/admin/dashboard/*", "GET"], ["editor", "/admin/users/edit*", "GET"] ];`

Even though the function from ManagementApi `$e->addPolicies($rules)` returns True, does not add any rules.

For completion only:
If I use E.g. `$e->addPolicy("editor", "/admin/dashboard/*", "GET")`, the function returns True and the rule is added properly.

[2021-04-13 03:06] leeqvip opened #76 "[Feature] Need Multi-Threading support"

[2021-04-13 03:07] techoner commented on #75
Which adapter do you use ?

[2021-04-13 03:43] techoner commented on #75
Move to [#3](https://github.com/php-casbin/codeigniter-permission/issues/3).

[2021-04-13 03:43] #75 closed

[2021-04-13 04:13] techoner opened #77 "[Feature] Add glob pattern match mode."

[2021-05-06 08:01] #77 closed

[2021-05-06 08:03] techoner commented on #77
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on [GitHub release](https://github.com/php-casbin/php-casbin/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-26 12:42] #70 closed

[2021-05-26 12:44] techoner commented on #70
:tada: This issue has been resolved in version 3.3.0 :tada:

The release is available on [GitHub release](https://github.com/php-casbin/php-casbin/releases/tag/v3.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-20 21:29] mmehira opened #79 "Policy not matching"
Hi guys,

version: `casbin/casbin v3.3.0`

here the conf and the policy I am trying to use:

[code]

[code]

Now, when I want to test:

[code]

What is wrong with my workflow? Since `alice` is not related at all with `domain2`, the assert should return false, but here, it returns true.

I tried also with the following matcher:
```m = r.sub == p.sub && r.dom == p.dom && r.act == p.act```
but same r

[2021-06-21 11:45] hsluoyz commented on #79
@mmehira try: https://casbin.org/casbin-editor/ and tell us what to expect and what you get.

[2021-06-21 11:46] hsluoyz commented on #79
@basakest

[2021-06-21 12:11] mmehira commented on #79
Nice editor, thank you.

In the editor, everything is working as expected:

![Screenshot from 2021-06-21 13-08-09](https://user-images.githubusercontent.com/469341/122759398-cb6de580-d291-11eb-8a76-d4061d49332a.png)

conf:
[code]
policy

[code]
Requests:
[code]

bob, domain2, read
bob, domain2, write
[code]

[2021-06-21 12:33] mmehira commented on #79
Here a PHP example in order to reproduce:

```composer require casbin/casbin```

[code]
the conf and the policy files are the same as before.

[2021-06-21 13:17] hsluoyz commented on #79
@basakest

/cc @techoner

[2021-06-22 16:58] iqDF commented on #55
Hi @hsluoyz does this wildcard future proof for inserting new objects? What I mean with future proof is that, in the example by @pigochu:
* Alice has the full access to all `domain/1` items: `domain/1/2` and `domain/1/3`
* Suppose we add `domain/1/27` to domain/1. Does Alice then have access to `domain/1/27`?

[2021-06-27 03:20] #79 closed

[2021-06-27 03:22] techoner commented on #79
:tada: This issue has been resolved in version 3.3.1 :tada:

The release is available on [GitHub release](https://github.com/php-casbin/php-casbin/releases/tag/v3.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-08 15:37] hsluoyz opened #81 "Make a watcher for PHP-Casbin"
See: https://github.com/donjan-deng/hyperf-casbin/issues/5#issuecomment-876051049

[2021-07-08 15:37] hsluoyz commented on #81
@basakest

[2021-07-11 16:00] techoner commented on #81
@basakest Next, implement it: https://github.com/php-casbin/redis-watcher

[2021-07-15 08:38] #81 closed

[2021-07-15 08:42] techoner commented on #81
:tada: This issue has been resolved in version 3.4.0 :tada:

The release is available on [GitHub release](https://github.com/php-casbin/php-casbin/releases/tag/v3.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-15 18:26] raymondZhong opened #83 "array_combine(): Argument #1 ($keys) and argument #2 ($values) must have the same number of elements"
![image](https://user-images.githubusercontent.com/1297621/125838189-e6252cfa-122f-4a6d-9a68-b1123b35c0f6.png)

![image](https://user-images.githubusercontent.com/1297621/125838276-2e2f9d68-2d2d-4540-b3e5-b66fdb6586bc.png)

检查验证的时候出错了

array_combine(): Argument #1 ($keys) and argument #2 ($values) must have the same number of elements

![image](https://user-images.githubusercontent.com/1297621/125

[2021-07-16 02:26] techoner commented on #83
@raymondZhong The number of request definitions is different from the number of policy definitions .
![image](https://user-images.githubusercontent.com/35752209/125882225-d25de908-9d36-4781-9383-0ec25ce9db70.png)

[2021-07-16 03:34] hsluoyz commented on #83
@basakest plz fix

[2021-07-16 04:22] #83 closed

[2021-07-16 04:23] techoner commented on #83
:tada: This issue has been resolved in version 3.4.1 :tada:

The release is available on [GitHub release](https://github.com/php-casbin/php-casbin/releases/tag/v3.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-16 13:32] raymondZhong opened #85 "Unable to get property "test" of non-object "r_subParam". why superAdmin Function Loop 137 ？"
![image](https://user-images.githubusercontent.com/1297621/125954353-978b26aa-49df-45f3-8166-bbca83223296.png)

![image](https://user-images.githubusercontent.com/1297621/125954198-a0021fad-59cb-4856-8c9e-a54d9e8fad69.png)

![6F1FB8FFBE76AFBF903357FC4A7F778B](https://user-images.githubusercontent.com/1297621/125956072-97743d40-6b92-400c-8bd2-b2261d9c10e1.jpg)

why  superAdmin Function  Loop 137 ？

[2021-07-16 13:49] hsluoyz commented on #85
@basakest

[2021-07-16 14:11] raymondZhong opened #86 "why the rule return false ?"
why the rule return false ?

![image](https://user-images.githubusercontent.com/1297621/125961242-6e81468c-581b-45bd-8d6a-d05801759219.png)

![image](https://user-images.githubusercontent.com/1297621/125961312-5869ac07-0f8f-402d-9749-839facfbf1d2.png)

[2021-07-16 14:19] hsluoyz commented on #86
@techoner @basakest

[2021-07-17 08:41] techoner commented on #86
@raymondZhong In the example below, the result is as expected .
[code]

[2021-07-17 09:09] raymondZhong commented on #86
@techoner     please   test  DB 。

![image](https://user-images.githubusercontent.com/1297621/126032187-4fdc4847-e06c-4b18-b4ef-24a127d5e484.png)

return    false .

[2021-07-17 09:21] techoner commented on #86
@raymondZhong  Which adapter do you use ?
[code]

output：
[code]

[2021-07-17 09:24] raymondZhong commented on #86
show_dump( $enforcer->getPolicy());

![image](https://user-images.githubusercontent.com/1297621/126032561-a753393b-ddfa-4781-9557-0714d19eacbe.png)

[2021-07-17 09:35] techoner commented on #86
@raymondZhong Can you provide your complete code? Keep it clean and small. Paste here or upload the compressed package.

[2021-07-17 09:43] techoner commented on #86
@raymondZhong Check if you have a deny policy?
[code]

[2021-07-17 11:17] raymondZhong commented on #86
![image](https://user-images.githubusercontent.com/1297621/126035164-836a9953-3460-4188-9a70-ad44640d8963.png)

mybe   the  bug   in    DBAL .

use CasbinAdapter\DBAL\Adapter;
use CasbinAdapter\DBAL\Adapter as DatabaseAdapter;

[2021-07-17 11:39] raymondZhong commented on #86
use CasbinAdapter\Database\Adapter as DatabaseAdapter;

![image](https://user-images.githubusercontent.com/1297621/126035661-5c06d08f-3807-4d31-bc95-ebef2b905c98.png)

It's work.   :)

[2021-07-17 11:53] raymondZhong commented on #86
![image](https://user-images.githubusercontent.com/1297621/126035938-e7aaa4cb-34f6-49e3-b10c-3db83fed88ec.png)

![image](https://user-images.githubusercontent.com/1297621/126035944-382f547a-9c09-4a0a-ab41-f1951abb9c4d.png)

Why   2,  /admin/Logout/delete   need  check   .test  ?

[2021-07-17 16:20] techoner commented on #86
Your policy calls this attribute .

[2021-07-17 16:41] raymondZhong commented on #86
![image](https://user-image@techoner .githubusercontent.com/1297621/126043847-ba9d6c38-0e4d-4ad3-ba80-a2625be1b8e2.png)

Casbin  Editor   is Passed

@techoner

[2021-07-17 16:41] techoner commented on #85
@raymondZhong

Each policy will be matched until the match is successful.

The parameter passed in has no `test` attribute, but one of your policies calls this attribute. In go language, even if false is returned, err will be reported :
[code]
output:
[code]

[2021-07-17 16:44] raymondZhong commented on #85
![image](https://user-images.githubusercontent.com/1297621/126043921-6d40ea59-19e0-49ca-8c68-3dddd30b3a7d.png)

Mybe  GO   can  do  it .

PHP-Casbin  can't do it.

[2021-07-17 16:44] techoner commented on #86
@raymondZhong See: https://github.com/php-casbin/php-casbin/issues/85 ，Throwing errors is to catch errors more conveniently, you can use `try{} catch(){}`.

[2021-07-17 16:51] raymondZhong commented on #86
Wasted two weeks.
It's so  bad.     Mybe  Go  is  OK.       PHP-Casbin  has too many problems。

[2021-07-17 16:53] hsluoyz commented on #86
@basakest

[2021-07-17 16:54] techoner commented on #86
@raymondZhong Do you have any proposal ? Welcome to PR .

[2021-07-17 16:56] #85 closed

[2021-07-19 08:59] techoner opened #88 "[Feature] Implement UpdatePolicies"

[2021-07-19 09:05] hsluoyz commented on #88
@basakest

[2021-07-19 09:10] techoner opened #89 "[Feature] Implement RmMap"

[2021-07-19 10:15] hsluoyz commented on #89
@basakest

[2021-07-20 09:40] #73 closed

[2021-07-20 09:42] techoner commented on #73
:tada: This issue has been resolved in version 3.5.0 :tada:

The release is available on [GitHub release](https://github.com/php-casbin/php-casbin/releases/tag/v3.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-20 10:09] stonecool opened #90 "I get a difference from the web editor to my project"
### Model file
[code]
### Policy File
[code]
#### Test Case
[code]
- web editor: true
- my project(v3.4.1): false

In my opinion, it is good list the version of web editor in the page. Thanks for your job.

[2021-07-20 10:15] stonecool commented on #90
In the above example, I think the ``p, System Admin, /api/billing/user/*, allow`` can replace the ``p, User, /api/billing/user/*, deny``, the last one have higher priority. Maybe I am wrong.

[2021-07-20 11:05] stonecool commented on #90
I read the [Priority Model](https://casbin.org/docs/en/priority-model) use Implicitly model solve my problem.
But I think the difference is strange still.

[2021-07-20 15:08] hsluoyz commented on #90
@techoner @basakest

[2021-07-21 06:14] techoner commented on #90
@hsluoyz @stonecool I think this is a bug in the web editor , the results of php-casbin and [go-casbin](https://github.com/casbin/casbin) are the same.

[2021-07-22 09:23] #90 closed

[2021-07-23 11:02] stonecool opened #92 "Is there a version doesn't depend on ``s1lentium/iptools``"
Hello
Is there a version doesn't depend on  ``s1lentium/iptools``?

Because my pro environment php is missing bcmath extension which is required by ``s1lentium/iptools``, and it is not convenient to add the extension. I also not need the ip calculation(I guess the ``s1lentium/iptools`` work for this).

So I guess is there a pure casbin version doesn't depend on ``s1lentium/iptools``.

Thanks for y

[2021-07-23 11:53] hsluoyz commented on #92
@techoner @basakest

[2021-07-24 03:09] basakest commented on #92
I just read the composer.json file of php-casbin, and found this package has been introduced since version v0.1.2. Only the first two versions are not needed. If you are using mac and can't install bcmath extension, maybe you can try to use a integrated environment or homebrew to build a new php development environment.

[2021-07-24 03:25] stonecool commented on #92
ok, I get, Thanks.👍

[2021-07-24 04:10] #92 closed

[2021-07-25 14:42] #88 closed

[2021-07-25 14:43] techoner commented on #88
:tada: This issue has been resolved in version 3.6.0 :tada:

The release is available on [GitHub release](https://github.com/php-casbin/php-casbin/releases/tag/v3.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-09 11:57] #89 closed

[2021-08-09 11:59] techoner commented on #89
:tada: This issue has been resolved in version 3.7.0 :tada:

The release is available on [GitHub release](https://github.com/php-casbin/php-casbin/releases/tag/v3.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-16 15:23] techoner opened #95 "Multiple request, policy, effect, matcher type support"
Refer to: https://github.com/casbin/casbin/commit/1121bda4aa45682e18f7f0939af765aa476cedc0

[2021-08-16 16:02] hsluoyz commented on #95
@basakest

[2021-08-23 13:02] techoner opened #97 "Implement keyGet() and keyGet2() built-in method"
@basakest

[2021-08-24 02:27] #95 closed

[2021-08-24 02:29] techoner commented on #95
:tada: This issue has been resolved in version 3.8.0 :tada:

The release is available on [GitHub release](https://github.com/php-casbin/php-casbin/releases/tag/v3.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-01 04:28] sofarther opened #100 "support Priority Explicitly or subjectPriority"

[2021-09-01 11:34] hsluoyz commented on #100
@basakest

[2021-09-01 18:17] hcker2000 opened #101 "Database Adapter class not updated with new updateFilteredPolicies"
Fatal error: Class CasbinAdapter\Database\Adapter contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (Casbin\Persist\UpdatableAdapter::updateFilteredPolicies)

[2021-09-02 03:36] hsluoyz commented on #101
@basakest

[2021-09-03 10:35] techoner commented on #101
@hcker2000 It has been fixed by https://github.com/php-casbin/database-adapter/pull/17

[2021-09-03 10:36] #101 closed

[2021-09-03 12:49] hcker2000 commented on #101
Thanks for the update and all the work you do!

[2021-09-09 11:13] #97 closed

[2021-09-09 11:14] techoner commented on #97
:tada: This issue has been resolved in version 3.11.0 :tada:

The release is available on [GitHub release](https://github.com/php-casbin/php-casbin/releases/tag/v3.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-26 15:42] #100 closed

[2021-09-28 20:51] ZhangChengLin opened #112 "The result after packaging is not as expected"
https://github.com/ZhangChengLin/untitled2/blob/0df6993d081f6fb0ce59d89679d585dae268468e/test.php#L18

The result of test.php does not meet expectations. The other two tests meet expectations. What's the problem?
Can be tested directly.

[2021-09-28 20:52] ZhangChengLin commented on #112
![image](https://user-images.githubusercontent.com/30773389/135163825-8ab73bce-1b37-4baa-9ef8-965935933321.png)

[2021-09-28 20:54] ZhangChengLin commented on #112
获取env部分  没有问题  经过另外 test__OK.php 文件测试。

[2021-09-29 02:25] techoner commented on #112
![image](https://user-images.githubusercontent.com/35752209/135192354-1c89444a-2182-4c72-ae57-f8cecec9eb42.png)
@ZhangChengLin This code is of no use .
`parent::__construct(...$params);`  No parameters are actually passed in .

[2021-09-29 15:04] zavre-c opened #114 "Issue in ManagementEnforcer : getAllSubject/Object... has field indexes hard coded"
### ManagementEnforcer has field indexes of policy hard coded
because of which making changes in order of sub, obj, act or adding priority at beginning breaks the code

I think can be solved by using model to get the correct index.

`$this->model->items['p']->tokens`
or
`$this->model->offsetGet('p')`

https://github.com/php-casbin/php-casbin/blob/d7b799ce60240155d6d967d9c4d9cc9dd9dddab9/src/Manage

[2021-09-30 02:34] techoner commented on #114
@zavre-c But how do we get the index of `sub` and the column name of `sub` ?

[2021-09-30 07:14] zavre-c commented on #114
Found this in Model.php

`$index = array_search(sprintf("%s_priority", $ptype), $assertion->tokens);`

https://github.com/php-casbin/php-casbin/blob/d7b799ce60240155d6d967d9c4d9cc9dd9dddab9/src/Model/Model.php#L236

[2021-09-30 08:17] techoner commented on #114
@zavre-c But this is not perfect, I think we should not search based on the column name, because the column name should also be hard-coded.

[2021-10-01 02:25] #112 closed

[2021-12-03 07:12] 490626721 opened #127 "array_combine(): Both parameters should have an equal number of elements"
**Describe the bug**
An error occurred while trying to create the RBAC model.

`array_combine(): Both parameters should have an equal number of elements`

Check the error code address and find that the error exists in line CoreEnforcer.php 645

`{
    "file": "E:\\phpstudy_pro\\WWW\\c.com\\vendor\\casbin\\casbin\\src\\CoreEnforcer.php",
    "line": 645,
    "function": "array_combine",
    "args":

[2021-12-03 07:15] hsluoyz commented on #127
@basakest

[2021-12-03 10:13] basakest commented on #127
Can you provide more detailed information? I tried to implement similar logic in the middleware, but failed to reproduce the problem.
<img width="1022" alt="Screen Shot 2021-12-03 at 6 08 54 PM" src="https://user-images.githubusercontent.com/47746206/144585459-2a1ebdd0-ef5d-46d2-94d1-4ddc19df34ae.png">

[2021-12-04 11:10] techoner commented on #127
@490626721 Please provide your model file and all policies .

[2021-12-06 02:20] 490626721 commented on #127
sql data
![1638757113(1)](https://user-images.githubusercontent.com/31122122/144776792-3ef9710d-f631-42f3-b240-77ecea8edf65.png)

thinphp6.0 middleware code
![1638757196(1)](https://user-images.githubusercontent.com/31122122/144776881-ae543763-a218-4945-a4e1-dc17086a42ce.png)

[2021-12-06 02:21] 490626721 commented on #127
@basakest

[2021-12-06 02:22] 490626721 commented on #127
error traces
![1638757326(1)](https://user-images.githubusercontent.com/31122122/144777073-784c0436-4433-4f72-9495-883c383495a4.png)

[2021-12-06 03:23] 490626721 commented on #127
api error trace
![1638760960(1)](https://user-images.githubusercontent.com/31122122/144782080-ad7d1f23-40d3-4eb2-98dd-d1bc8ddf0e60.png)

[2021-12-06 14:49] techoner commented on #127
@490626721 This does not tell the problem. Have you made any changes to the adapter?
I guess it may be related to model configuration or loading policies, can you provide a tiny sample?

[2021-12-07 01:11] 490626721 commented on #127
adapter file
`[request_definition]
r = sub, obj, act

[policy_definition]
p = sub, obj, act

[role_definition]
g = _, _

[policy_effect]
e = some(where (p.eft == allow))

[matchers]
m = g(r.sub, p.sub) && r.obj == p.obj && r.act == p.act || r.sub == "root"`

![1638839423(1)](https://user-images.githubusercontent.com/31122122/144947622-bb0b846e-8dab-42ef-84a5-a60d9d8be924.png)

casbinConfig:

`publ

[2021-12-07 09:00] 490626721 commented on #127
I found the problem:
![1638867431(1)](https://user-images.githubusercontent.com/31122122/144997916-d5d45ac1-a1e5-4ad4-a850-322305313731.png)
error file path: casbin\src\Persist\AdapterHelper.php   32 line

Using The getcsv () method causes the program to miss some commas

[2021-12-07 09:03] 490626721 commented on #127
@techoner

[2021-12-08 01:50] 490626721 commented on #127
OK, I'll change it now :smile:

[2021-12-20 15:13] techoner commented on #127
Closed as resolved.

[2021-12-20 15:13] #127 closed

[2021-12-31 10:27] ewaldkleefstra opened #130 "Enforcement results of the Casbin Editor and the enforce() PHP implementation differ"
I tried to set up my policies using the Casbin Editor, resulting in the following model:

See https://casbin.org/casbin-editor/#3QDUJPSUG or code below:
Model:
[code]
Policy:
[code]
Request:
[code]

In the online editor, both request statements 1 and 2 get enforcement result "true", as expected.
Using the PHP library however, request statement 1 returns "false" using following method:
[code]

I as

[2021-12-31 11:44] hsluoyz commented on #130
@basakest @leeqvip

[2022-01-02 03:29] leeqvip commented on #130
@ewaldkleefstra
Use pattern matching in RBAC:  https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

[2022-01-02 03:40] leeqvip commented on #130
[code]

[2022-01-06 09:31] ewaldkleefstra commented on #130
That did the trick! Thanks a lot.

[2022-01-06 09:31] #130 closed

[2022-02-16 15:53] hcker2000 opened #133 "DeleteUser() removes roles but leaves permissions"
I would think any assigned permissions should also be removed if the user is completely removed from the casbin tables.

[2022-02-17 02:18] hsluoyz commented on #133
@leeqvip

[2022-02-17 03:39] leeqvip commented on #133
This requires the same implementation https://github.com/casbin/casbin/pull/364

[2022-02-17 03:49] #86 closed

[2022-02-17 03:50] #114 closed

[2022-02-17 13:58] hcker2000 commented on #133
@leeqvip thanks!

[2022-02-17 14:22] #133 closed

[2022-02-24 02:54] leeqvip opened #134 "[Feature] Add cache for g function"
Refer to: https://github.com/casbin/casbin/blob/master/util/builtin_operators.go#L333

[2022-03-10 07:56] heqichang opened #135 "Could change addPermissionsForUser function declaration"
If i have many permissions need to add, I think it works better to declare it like this
[code]
I can combine my permissions into a two-dimensional arrays. Like this
[code]

[2022-03-10 12:21] hsluoyz commented on #135
@leeqvip plz review

[2022-03-11 00:43] leeqvip commented on #135
@heqichang Variable number of arguments used here .
To add permissions in batches, you can use this:
[code]

[2022-03-11 00:51] heqichang commented on #135
@leeqvip Oh, thank you! I did not notice such usage!

[2022-03-11 00:51] #135 closed

[2022-03-14 04:02] heqichang opened #136 "May be should cast $name1 and $name2 to string before call hasLink function in generateGFunction."
I found the declaration of the hasLink function below this:
[code]
So I must pass in a string parameter, or will throw
[code]

[2022-03-14 04:33] hsluoyz commented on #136
@heqichang you should pass in string.

[2022-03-14 04:33] #136 closed

[2022-03-24 14:09] Viously opened #137 "Cannot use multiple policy rule"
Hello, I try to use multiple policies as mentioned in [documentation](https://casbin.org/docs/en/syntax-for-models#policy-definition) and I got some exceptions.

Model:
[code]

Policy:
[code]

PHP:
[code]

Exception:
[code]

[2022-03-24 15:45] hsluoyz commented on #137
@leeqvip

[2022-03-28 01:57] leeqvip commented on #137
@Viously
`Invalid request size: expected 3, got 2 `:  The number of parameters of `enforce()` must be the same as the number of configuration parameters of model .

[2022-07-27 15:58] heqichang opened #138 "I got wrong match result from RBAC model"
laravel-authz, version 3.1.1
php-casbin, version 3.20.3

conf
[code]

if policy like below
[code]

request
[code]

I think it should be false, but I got true.

but if I delete last row in policy like this
[code]

request
[code]

The request got false that I want it.
How to correct the configuration to achieve the results what I need, can someone help me, pls?

I tried https://casbin.org/casbin-edi

[2022-07-27 17:09] hsluoyz commented on #138
@M1serry

/cc @leeqvip

[2022-07-28 06:08] leeqvip commented on #138
Follow the code below:
[code]
output:
[code]
This result is as expected, can it help you ?

[2022-07-28 08:44] heqichang commented on #138
@leeqvip Please add one group policy {2, 4} , then test again. You will got {true, true}.

[2022-07-28 14:35] leeqvip commented on #138
@heqichang In my example, there is indeed a `g2, 2, 4` in the policies, `getGroupingPolicy()` will only print `g` policy, not `g2`.
Does your policies have a `g, 2, 4` instead of `g2, 2, 4` ?

[2022-07-28 16:23] heqichang commented on #138
Yes，it's 'g，2，4'。

[2022-07-29 04:47] leeqvip commented on #138
[code]
@heqichang  userid`1` inherits groupid`2`, groupid`2` inherits groupid`4`, and will hit `p, 4, 2, read` in the policies.

[2022-07-29 07:38] heqichang commented on #138
@leeqvip I got it. Can I stop the hierarchy function by code?  In our business, a group never be a member of another group.

[2022-07-29 08:37] hsluoyz commented on #138
@heqichang see `maxHierarchyLevel`: https://casbin.io/docs/rbac#role-hierarchy

[2022-07-29 09:19] heqichang commented on #138
@leeqvip I tried below code, but still got true.
[code]

[code]
[code]
[code]
[code]
[code]

Anything wrong my step?

[2022-07-30 05:05] leeqvip commented on #138
@heqichang  The hierarchy level start from `0`，and then rebuild role links.
[code]

[2022-07-30 12:49] heqichang commented on #138
@leeqvip it works! Thanks a lot!

[2022-07-30 12:49] #138 closed

[2022-09-21 07:53] rauwebieten opened #140 "Big custom rule table name"
I see in code that the initTable method is invoked in the constructor.
This means the db table is created (with the default name) before the casbinRuleTableName parameter can be set.

I think it's better to remove the initTable invokation from the constructor, and let the developer use this method manually to create the tables.

[2022-09-25 09:23] leeqvip commented on #140
@rauwebieten Which adapter are you using?

[2022-09-26 08:20] rauwebieten commented on #140
I'm using the SQL adapter. https://github.com/php-casbin/database-adapter/
Guess I should submit this issue there?

Problem is (I think) following code in constructor of adapter:

    public function __construct(array $config)
    {
        $this->config = $config;
        $this->filtered = false;
        $this->connection = (new Manager($config))->getConnection();
        $this->initTable();

[2022-09-26 10:52] hsluoyz commented on #140
@linvery

[2022-09-28 03:39] leeqvip commented on #140
@rauwebieten See https://github.com/php-casbin/database-adapter/pull/22/files

[2022-11-11 14:08] hsluoyz commented on #134
@Durgesh4993 can you work on this?

[2022-11-14 12:40] Durgesh4993 commented on #134
yes sir